.shay-img {
  box-shadow: -3px 10px 77px 10px rgba(27, 5, 5, 0.356);
  -webkit-box-shadow: -3px 10px 77px 10px rgba(12, 1, 1, 0.37);
  -moz-box-shadow: -3px 10px 77px 10px rgba(20, 3, 3, 0.74);
}
:root {
  font-family: MyFont;
}
.dotted {
  font-family: "Courier New", Courier, monospace;
}
@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(./assets/fonts/Abraham-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  background-color: #ffffff;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin: 0;
  padding: 0;
}
